<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="CaravanInstructor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            
        </startup>
        <applicationSettings>
                <CaravanInstructor.Properties.Settings>
                        <setting name="TimerSplash" serializeAs="String">
                                <value>0.5</value>
                        </setting>
                        <setting name="FontSizeSplash" serializeAs="String">
                                <value>20</value>
                        </setting>
                        <setting name="IconsFolder" serializeAs="String">
                                <value>..\..\Resources\Images\Icons\Iconos_CV1\</value>
                        </setting>
                </CaravanInstructor.Properties.Settings>
        </applicationSettings>
</configuration>