<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CaravanInstructor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CaravanInstructor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup></startup>
  <applicationSettings>
    <CaravanInstructor.Properties.Settings>
      <setting name="FontSizeSplash" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="IconsFolder" serializeAs="String">
        <value>..\..\Resources\Images\Icons\Iconos_CV1\</value>
      </setting>
      <setting name="BackgroundsFolder" serializeAs="String">
        <value>..\..\Resources\Images\Backgrounds\</value>
      </setting>
      <setting name="TimerSplash" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ImagesFolder" serializeAs="String">
        <value>..\..\Resources\Images\Images\</value>
      </setting>
    </CaravanInstructor.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" support="FF" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
  <add name="DbSimaer" connectionString="Host=localhost;Database=simaer;Username=postgres" providerName="Npgsql" /></connectionStrings>
  <userSettings>
    <CaravanInstructor.Properties.Settings>
      <setting name="ServerAddress" serializeAs="String">
        <value>192.168.10.2</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>5001</value>
      </setting>
    </CaravanInstructor.Properties.Settings>
  </userSettings>
</configuration>